@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family:'Courier New', Courier, monospace;
    margin: 0;
    background-color: blueviolet;
}

header{
    padding:1rem;
    display: flex;
    justify-content: flex-end;
    background-color: royalblue;

}

#form{
background-color: transparent;
border: 1px solid black;
padding: 1rem 1rem;
font-size: 1rem;
color: burlywood;
font-family: inherit;

}

 .display{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
} 
.movie{
    width: 250px;
    margin:.5rem;
    border-radius: 12px;
}

.movie img{
    width: 100%;
    border-radius: 2rem;
  
}